<a href="https://colab.research.google.com/github/ElhassanGitUub/PyProj/blob/main/Data_Wrangling_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Wrangling Lab**

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

### **Objectives**
After completing this lab, you will be able to:

Identify and remove inconsistent data entries.

Encode categorical variables for analysis.

Handle missing values using multiple imputation strategies.

Apply feature scaling and transformation techniques.

#### Intsall the required libraries
!pip install pandas

!pip install matplotlib

#### **Tasks**
Step 1: Import the necessary module.
1. Load the Dataset
1.1 Import necessary libraries and load the dataset.
Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset
<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [2]:
# Display column data types, non-null counts, and total entries
print("Dataset Summary:\n")
print(df.info())

# Count the number of missing values in each column
print("\nMissing Values per Column:\n")
print(df.isnull().sum())

Dataset Summary:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

Missing Values per Column:

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>2.2 Generate basic statistics for numerical columns.</h5>
*italicized text*

In [3]:
# Display summary statistics for numerical columns
print("Basic Statistics for Numerical Columns:\n")
print(df.describe())

Basic Statistics for Numerical Columns:

         ResponseId      CompTotal       WorkExp  JobSatPoints_1  \
count  65437.000000   3.374000e+04  29658.000000    29324.000000
mean   32719.000000  2.963841e+145     11.466957       18.581094
std    18890.179119  5.444117e+147      9.168709       25.966221
min        1.000000   0.000000e+00      0.000000        0.000000
25%    16360.000000   6.000000e+04      4.000000        0.000000
50%    32719.000000   1.100000e+05      9.000000       10.000000
75%    49078.000000   2.500000e+05     16.000000       22.000000
max    65437.000000  1.000000e+150     50.000000      100.000000

       JobSatPoints_4  JobSatPoints_5  JobSatPoints_6  JobSatPoints_7  \
count    29393.000000    29411.000000    29450.000000     29448.00000
mean         7.522140       10.060857       24.343232        22.96522
std         18.422661       21.833836       27.089360        27.01774
min          0.000000        0.000000        0.000000         0.00000
25%          0.000000        0.000000        0.000000         0.00000
50%          0.000000        0.000000       20.000000        15.00000
75%          5.000000       10.000000       30.000000        30.00000
max        100.000000      100.000000      100.000000       100.00000

       JobSatPoints_8  JobSatPoints_9  JobSatPoints_10  JobSatPoints_11  \
count    29456.000000    29456.000000     29450.000000     29445.000000
mean        20.278165       16.169432        10.955713         9.953948
std         26.108110       24.845032        22.906263        21.775652
min          0.000000        0.000000         0.000000         0.000000
25%          0.000000        0.000000         0.000000         0.000000
50%         10.000000        5.000000         0.000000         0.000000
75%         25.000000       20.000000        10.000000        10.000000
max        100.000000      100.000000       100.000000       100.000000

       ConvertedCompYearly        JobSat
count         2.343500e+04  29126.000000
mean          8.615529e+04      6.935041
std           1.867570e+05      2.088259
min           1.000000e+00      0.000000
25%           3.271200e+04      6.000000
50%           6.500000e+04      7.000000
75%           1.079715e+05      8.000000
max           1.625660e+07     10.000000

### 3. Identifying and Removing Inconsistencies
<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [4]:
# Display unique values in the 'Country' column
print("Unique values in 'Country' column:\n")
print(df['Country'].unique())

# Count occurrences of each unique value
print("\nValue counts for 'Country':\n")
print(df['Country'].value_counts())

# Identify possible inconsistencies
# (e.g., empty values, typos, special characters)
invalid_countries = df[~df['Country'].str.match(r'^[A-Za-z\s-]+$', na=False)]

print("\nPotentially inconsistent country entries:\n")
print(invalid_countries)

Unique values in 'Country' column:

['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

Value counts for 'Country':

Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Central African Republic                                    1
Equatorial Guinea                                           1
Niger                                                       1
Guinea                                                      1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

Potentially inconsistent country entries:

       ResponseId                      MainBranch                 Age  \
37             38  I am a developer by profession     25-34 years old
65             66  I am a developer by profession     18-24 years old
94             95           I am learning to code  Under 18 years old
472           473  I am a developer by profession     25-34 years old
480           481  I am a developer by profession     25-34 years old
...           ...                             ...                 ...
65430       65431           I am learning to code     18-24 years old
65432       65433  I am a developer by profession     18-24 years old
65433       65434  I am a developer by profession     25-34 years old
65434       65435  I am a developer by profession     25-34 years old
65436       65437     I code primarily as a hobby     18-24 years old

                                              Employment  \
37                                   Employed, full-time
65                                    Student, full-time
94                                    Student, part-time
472                                  Employed, full-time
480    Independent contractor, freelancer, or self-em...
...                                                  ...
65430  Not employed, but looking for work;Employed, p...
65432                                Employed, full-time
65433                                Employed, full-time
65434                                Employed, full-time
65436                                 Student, full-time

                                 RemoteWork   Check  \
37                                   Remote  Apples
65                                      NaN  Apples
94                                      NaN  Apples
472                               In-person  Apples
480    Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
65430                             In-person  Apples
65432                                Remote  Apples
65433                                Remote  Apples
65434                             In-person  Apples
65436                                   NaN  Apples

                                        CodingActivities  \
37     Contribute to open-source projects;Bootstrappi...
65                                                   NaN
94                                                   NaN
472                         I don’t code outside of work
480    Hobby;Contribute to open-source projects;Schoo...
...                                                  ...
65430  Hobby;Professional development or self-paced l...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65436                                                NaN

                                                 EdLevel  \
37        Professional degree (JD, MD, Ph.D, Ed.D, etc.)
65          Bachelor’s degree (B.A., B.S., B.Eng., etc.)
94     Some college/university study without earning ...
472      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
480         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
...                                                  ...
65430                                                NaN
65432       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                                NaN
65434       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65436                                                NaN

                                               LearnCode  \
37     On the job training;Online Courses or Certific...
65     Colleague;Other online resources (e.g., videos...
94     Other online resources (e.g., videos, blogs, f...
472    On the job training;Other online resources (e....
480    Colleague;On the job training;Other online res...
...                                                  ...
65430                                                NaN
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
37                                                   NaN  ...            NaN
65     Blogs;Written Tutorials;Stack Overflow;How-to ...  ...            NaN
94     Technical documentation;Blogs;Written Tutorial...  ...            NaN
472    Technical documentation;Written Tutorials;Stac...  ...            0.0
480    Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
65430                                                NaN  ...            NaN
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
37               NaN            NaN            NaN             NaN
65               NaN            NaN            NaN             NaN
94               NaN            NaN            NaN             NaN
472              0.0            0.0            0.0             0.0
480              NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65430            NaN            NaN            NaN             NaN
65432            NaN            NaN            NaN             NaN
65433            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11           SurveyLength                  SurveyEase  \
37                NaN  Appropriate in length                        Easy
65                NaN  Appropriate in length                        Easy
94                NaN  Appropriate in length  Neither easy nor difficult
472               0.0               Too long                        Easy
480               NaN  Appropriate in length                        Easy
...               ...                    ...                         ...
65430             NaN                    NaN                         NaN
65432             NaN                    NaN                         NaN
65433             NaN                    NaN                         NaN
65434             NaN                    NaN                         NaN
65436             NaN                    NaN                         NaN

      ConvertedCompYearly JobSat
37                    NaN    NaN
65                    NaN    NaN
94                    NaN    NaN
472              213840.0    4.0
480                   NaN    NaN
...                   ...    ...
65430                 NaN    NaN
65432                 NaN    NaN
65433                 NaN    NaN
65434                 NaN    NaN
65436                 NaN    NaN

[7162 rows x 114 columns]

**Explanation:**

Check Unique Values: df['Country'].unique() helps detect typos or unexpected values.

Count Occurrences: df['Country'].value_counts() shows how frequently each country appears.

Identify Inconsistencies:
The regex r'^[A-Za-z\s-]+$' filters out values containing numbers or special characters.

We flag potential errors such as:
Misspellings (e.g., "U.S.A." vs. "USA")
Non-country entries (e.g., "Unknown" or empty values)
Extra spaces or special characters.

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [5]:
# Define a mapping for inconsistent country names
country_mapping = {
    "U.S.A.": "USA",
    "United States": "USA",
    "United States of America": "USA",
    "UK": "United Kingdom",
    "England": "United Kingdom",
    "Deutschland": "Germany",
    "Czechia": "Czech Republic",
    "Brasil": "Brazil"
}

# Apply the mapping to standardize country names
df['Country'] = df['Country'].replace(country_mapping)

# Trim whitespace and ensure consistent casing
df['Country'] = df['Country'].str.strip().str.title()

print("Standardized 'Country' column:\n")
print(df['Country'].unique())

Standardized 'Country' column:

['Usa' 'United Kingdom Of Great Britain And Northern Ireland' 'Canada'
 'Norway' 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria'
 'Switzerland' 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia'
 'Brazil' 'Japan' 'Austria' 'Iran, Islamic Republic Of...' 'France'
 'Saudi Arabia' 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden'
 'Netherlands' 'Croatia' 'Pakistan' 'Czech Republic'
 'Republic Of North Macedonia' 'Finland' 'Slovakia' 'Russian Federation'
 'Greece' 'Israel' 'Belgium' 'Mexico' 'United Republic Of Tanzania'
 'Hungary' 'Argentina' 'Portugal' 'Sri Lanka' 'Latvia' 'China' 'Singapore'
 'Lebanon' 'Spain' 'South Africa' 'Lithuania' 'Viet Nam'
 'Dominican Republic' 'Indonesia' 'Kosovo' 'Morocco' 'Taiwan' 'Georgia'
 'San Marino' 'Tunisia' 'Bangladesh' 'Nigeria' 'Liechtenstein' 'Denmark'
 'Ecuador' 'Malaysia' 'Albania' 'Azerbaijan' 'Chile' 'Ghana' 'Peru'
 'Bolivia' 'Egypt' 'Luxembourg' 'Montenegro' 'Cyprus' 'Paraguay'
 'Kazakhstan' 'Slovenia' 'Jordan' 'Venezuela, Bolivarian Republic Of...'
 'Costa Rica' 'Jamaica' 'Thailand' 'Nicaragua' 'Myanmar'
 'Republic Of Korea' 'Rwanda' 'Bosnia And Herzegovina' 'Benin'
 'El Salvador' 'Zimbabwe' 'Afghanistan' 'Estonia' 'Malta' 'Uruguay'
 'Belarus' 'Colombia' 'Republic Of Moldova' 'Isle Of Man' 'Nomadic'
 'New Zealand' 'Palestine' 'Armenia' 'United Arab Emirates' 'Maldives'
 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda' 'Turkmenistan' 'Mauritius' 'Kenya'
 'Cuba' 'Gabon' 'Bahamas' 'South Korea' 'Iceland' 'Honduras'
 'Hong Kong (S.A.R.)' "Lao People'S Democratic Republic" 'Mongolia'
 'Cambodia' 'Madagascar' 'Angola' 'Democratic Republic Of The Congo'
 'Syrian Arab Republic' 'Iraq' 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia'
 'Swaziland' "Côte D'Ivoire" 'Kuwait' 'Tajikistan' 'Burundi'
 'Trinidad And Tobago' 'Mauritania' 'Sierra Leone' 'Panama' 'Somalia'
 'North Korea' 'Dominica' 'Guyana' 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People'S Republic Of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic Of The...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua And Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts And Nevis' 'Monaco' 'Micronesia, Federated States Of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

In [6]:
# Define a mapping for inconsistent education levels
education_mapping = {
    "Bachelor’s degree": "Bachelor's",
    "Bachelors": "Bachelor's",
    "Master’s degree": "Master's",
    "Masters": "Master's",
    "PhD": "Doctorate",
    "Some college": "No Degree",
    "Less than a Bachelor’s": "No Degree"
}

# Apply the mapping to standardize education levels
df['EdLevel'] = df['EdLevel'].replace(education_mapping)

# Trim whitespace and ensure consistent formatting
df['EdLevel'] = df['EdLevel'].str.strip().str.title()

print("\nStandardized 'EdLevel' column:\n")
print(df['EdLevel'].unique())

Standardized 'EdLevel' column:

['Primary/Elementary School'
 'Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)'
 'Master’S Degree (M.A., M.S., M.Eng., Mba, Etc.)'
 'Some College/University Study Without Earning A Degree'
 'Secondary School (E.G. American High School, German Realschule Or Gymnasium, Etc.)'
 'Professional Degree (Jd, Md, Ph.D, Ed.D, Etc.)'
 'Associate Degree (A.A., A.S., Etc.)' 'Something Else' nan]

Explanation:

**Country Standardization**

-Maps variations (e.g., "United States of America" → "USA").

-Ensures title case (e.g., "brasil" → "Brazil").

-Trims spaces to remove extra whitespace.

**Education Level Standardization**

-Converts different formats to a common standard (e.g., "Bachelor’s degree" → "Bachelor's").

-Groups similar values (e.g., "Some college" → "No Degree").

### 4. Encoding Categorical Variables
<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [7]:

# Perform one-hot encoding on the 'Employment' column
df_encoded = pd.get_dummies(df, columns=['Employment'], prefix='Employment')

# Display the first few rows to verify encoding
print(df_encoded.head())

   ResponseId                      MainBranch                 Age RemoteWork  \
0           1  I am a developer by profession  Under 18 years old     Remote
1           2  I am a developer by profession     35-44 years old     Remote
2           3  I am a developer by profession     45-54 years old     Remote
3           4           I am learning to code     18-24 years old        NaN
4           5  I am a developer by profession     18-24 years old        NaN

    Check                                   CodingActivities  \
0  Apples                                              Hobby
1  Apples  Hobby;Contribute to open-source projects;Other...
2  Apples  Hobby;Contribute to open-source projects;Other...
3  Apples                                                NaN
4  Apples                                                NaN

                                             EdLevel  \
0                          Primary/Elementary School
1       Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)
2    Master’S Degree (M.A., M.S., M.Eng., Mba, Etc.)
3  Some College/University Study Without Earning ...
4  Secondary School (E.G. American High School, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  \
0                                                NaN
1  Technical documentation;Blogs;Books;Written Tu...
2  Technical documentation;Blogs;Books;Written Tu...
3  Stack Overflow;How-to videos;Interactive tutorial
4  Technical documentation;Blogs;Written Tutorial...

                                             TechDoc  ...  \
0                                                NaN  ...
1  API document(s) and/or SDK document(s);User gu...  ...
2  API document(s) and/or SDK document(s);User gu...  ...
3                                                NaN  ...
4  API document(s) and/or SDK document(s);User gu...  ...

  Employment_Student, full-time;Not employed, but looking for work;Not employed, and not looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Not employed, but looking for work;Student, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Retired  \
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

  Employment_Student, full-time;Student, part-time  \
0                                            False
1                                            False
2                                            False
3                                            False
4                                            False

  Employment_Student, full-time;Student, part-time;Employed, part-time  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, full-time;Student, part-time;Retired  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False

  Employment_Student, part-time  \
0                         False
1                         False
2                         False
3                         False
4                         False

  Employment_Student, part-time;Employed, part-time  \
0                                             False
1                                             False
2                                             False
3                                             False
4                                             False

  Employment_Student, part-time;Retired
0                                 False
1                                 False
2                                 False
3                                 False
4                                 False

[5 rows x 223 columns]

### 5. Handling Missing Values
<h5>5.1 Identify columns with the highest number of missing values.</h5>
*italicized text*

In [8]:
# Count missing values in each column
missing_values = df.isnull().sum()

# Sort columns by the highest number of missing values
missing_values_sorted = missing_values[missing_values > 0].sort_values(ascending=False)

# Display results
print("Columns with the highest number of missing values:\n")
print(missing_values_sorted)

Columns with the highest number of missing values:

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
YearsCode                      5568
NEWSOSites                     5151
LearnCode                      4949
EdLevel                        4653
AISelect                       4530
Length: 109, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>
*italicized text*

In [9]:
# Check if 'ConvertedCompYearly' exists
if 'ConvertedCompYearly' in df.columns:
    # Calculate mean and median
    mean_value = df['ConvertedCompYearly'].mean()
    median_value = df['ConvertedCompYearly'].median()

    # Choose imputation method (mean or median)
    df['ConvertedCompYearly'].fillna(median_value, inplace=True)  # Using median for robustness

    print("Missing values in 'ConvertedCompYearly' have been imputed with the median.")
else:
    print("'ConvertedCompYearly' column not found.")

Missing values in 'ConvertedCompYearly' have been imputed with the median.

<ipython-input-9-3878607371a5>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(median_value, inplace=True)  # Using median for robustness

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

*   List item
*   List item

In [11]:
categorical_columns = df.select_dtypes(include=['object']).columns

for col in categorical_columns:
    most_frequent = df[col].mode()[0]
    df[col].fillna(most_frequent, inplace=True)
    print(f"Missing values in '{col}' have been imputed with the most frequent value: {most_frequent}")

<ipython-input-11-2fd1c0c34224>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(most_frequent, inplace=True)

Missing values in 'MainBranch' have been imputed with the most frequent value: I am a developer by profession
Missing values in 'Age' have been imputed with the most frequent value: 25-34 years old
Missing values in 'Employment' have been imputed with the most frequent value: Employed, full-time
Missing values in 'RemoteWork' have been imputed with the most frequent value: Hybrid (some remote, some in-person)
Missing values in 'Check' have been imputed with the most frequent value: Apples
Missing values in 'CodingActivities' have been imputed with the most frequent value: Hobby
Missing values in 'EdLevel' have been imputed with the most frequent value: Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)
Missing values in 'LearnCode' have been imputed with the most frequent value: Other online resources (e.g., videos, blogs, forum, online community)
Missing values in 'LearnCodeOnline' have been imputed with the most frequent value: Technical documentation;Blogs;Written Tutorials;Stack Overflow
Missing values in 'TechDoc' have been imputed with the most frequent value: API document(s) and/or SDK document(s);User guides or README files found in the source repository;Traditional public search engine
Missing values in 'YearsCode' have been imputed with the most frequent value: 10
Missing values in 'YearsCodePro' have been imputed with the most frequent value: 2
Missing values in 'DevType' have been imputed with the most frequent value: Developer, full-stack
Missing values in 'OrgSize' have been imputed with the most frequent value: 20 to 99 employees
Missing values in 'PurchaseInfluence' have been imputed with the most frequent value: I have some influence
Missing values in 'BuyNewTool' have been imputed with the most frequent value: Start a free trial;Ask developers I know/work with;Visit developer communities like Stack Overflow
Missing values in 'BuildvsBuy' have been imputed with the most frequent value: Is ready-to-go but also customizable for growth and targeted use cases
Missing values in 'TechEndorse' have been imputed with the most frequent value: APIs;Customization;Reputation for quality and excellence
Missing values in 'Country' have been imputed with the most frequent value: Usa
Missing values in 'Currency' have been imputed with the most frequent value: EUR European Euro
Missing values in 'LanguageHaveWorkedWith' have been imputed with the most frequent value: HTML/CSS;JavaScript;TypeScript
Missing values in 'LanguageWantToWorkWith' have been imputed with the most frequent value: Python
Missing values in 'LanguageAdmired' have been imputed with the most frequent value: Python
Missing values in 'DatabaseHaveWorkedWith' have been imputed with the most frequent value: PostgreSQL
Missing values in 'DatabaseWantToWorkWith' have been imputed with the most frequent value: PostgreSQL
Missing values in 'DatabaseAdmired' have been imputed with the most frequent value: PostgreSQL
Missing values in 'PlatformHaveWorkedWith' have been imputed with the most frequent value: Amazon Web Services (AWS)
Missing values in 'PlatformWantToWorkWith' have been imputed with the most frequent value: Amazon Web Services (AWS)
Missing values in 'PlatformAdmired' have been imputed with the most frequent value: Amazon Web Services (AWS)
Missing values in 'WebframeHaveWorkedWith' have been imputed with the most frequent value: React
Missing values in 'WebframeWantToWorkWith' have been imputed with the most frequent value: React
Missing values in 'WebframeAdmired' have been imputed with the most frequent value: React
Missing values in 'EmbeddedHaveWorkedWith' have been imputed with the most frequent value: Rasberry Pi
Missing values in 'EmbeddedWantToWorkWith' have been imputed with the most frequent value: Rasberry Pi
Missing values in 'EmbeddedAdmired' have been imputed with the most frequent value: Rasberry Pi
Missing values in 'MiscTechHaveWorkedWith' have been imputed with the most frequent value: .NET (5+)
Missing values in 'MiscTechWantToWorkWith' have been imputed with the most frequent value: .NET (5+)
Missing values in 'MiscTechAdmired' have been imputed with the most frequent value: .NET (5+)
Missing values in 'ToolsTechHaveWorkedWith' have been imputed with the most frequent value: Docker
Missing values in 'ToolsTechWantToWorkWith' have been imputed with the most frequent value: Docker
Missing values in 'ToolsTechAdmired' have been imputed with the most frequent value: Docker
Missing values in 'NEWCollabToolsHaveWorkedWith' have been imputed with the most frequent value: Visual Studio Code
Missing values in 'NEWCollabToolsWantToWorkWith' have been imputed with the most frequent value: Visual Studio Code
Missing values in 'NEWCollabToolsAdmired' have been imputed with the most frequent value: Visual Studio Code
Missing values in 'OpSysPersonal use' have been imputed with the most frequent value: Windows
Missing values in 'OpSysProfessional use' have been imputed with the most frequent value: Windows
Missing values in 'OfficeStackAsyncHaveWorkedWith' have been imputed with the most frequent value: Jira
Missing values in 'OfficeStackAsyncWantToWorkWith' have been imputed with the most frequent value: Jira
Missing values in 'OfficeStackAsyncAdmired' have been imputed with the most frequent value: Jira
Missing values in 'OfficeStackSyncHaveWorkedWith' have been imputed with the most frequent value: Microsoft Teams
Missing values in 'OfficeStackSyncWantToWorkWith' have been imputed with the most frequent value: Microsoft Teams
Missing values in 'OfficeStackSyncAdmired' have been imputed with the most frequent value: Microsoft Teams
Missing values in 'AISearchDevHaveWorkedWith' have been imputed with the most frequent value: ChatGPT
Missing values in 'AISearchDevWantToWorkWith' have been imputed with the most frequent value: ChatGPT
Missing values in 'AISearchDevAdmired' have been imputed with the most frequent value: ChatGPT
Missing values in 'NEWSOSites' have been imputed with the most frequent value: Stack Overflow;Stack Exchange
Missing values in 'SOVisitFreq' have been imputed with the most frequent value: A few times per week
Missing values in 'SOAccount' have been imputed with the most frequent value: Yes
Missing values in 'SOPartFreq' have been imputed with the most frequent value: Less than once per month or monthly
Missing values in 'SOHow' have been imputed with the most frequent value: Quickly finding code solutions;Finding reliable guidance from community-vetted answers
Missing values in 'SOComm' have been imputed with the most frequent value: No, not really
Missing values in 'AISelect' have been imputed with the most frequent value: Yes
Missing values in 'AISent' have been imputed with the most frequent value: Favorable
Missing values in 'AIBen' have been imputed with the most frequent value: Increase productivity;Greater efficiency;Speed up learning
Missing values in 'AIAcc' have been imputed with the most frequent value: Somewhat trust
Missing values in 'AIComplex' have been imputed with the most frequent value: Good, but not great at handling complex tasks
Missing values in 'AIToolCurrently Using' have been imputed with the most frequent value: Writing code;Debugging and getting help;Search for answers
Missing values in 'AIToolInterested in Using' have been imputed with the most frequent value: Learning about a codebase
Missing values in 'AIToolNot interested in Using' have been imputed with the most frequent value: Project planning
Missing values in 'AINextMuch more integrated' have been imputed with the most frequent value: Search for answers
Missing values in 'AINextNo change' have been imputed with the most frequent value: Writing code
Missing values in 'AINextMore integrated' have been imputed with the most frequent value: Writing code
Missing values in 'AINextLess integrated' have been imputed with the most frequent value: Writing code
Missing values in 'AINextMuch less integrated' have been imputed with the most frequent value: Writing code
Missing values in 'AIThreat' have been imputed with the most frequent value: No
Missing values in 'AIEthics' have been imputed with the most frequent value: Circulating misinformation or disinformation;Missing or incorrect attribution for sources of data;Biased results that do not represent diverse viewpoints
Missing values in 'AIChallenges' have been imputed with the most frequent value: Don’t trust the output or answers;AI tools lack context of codebase,  internal architecture, and/or company knowledge
Missing values in 'TBranch' have been imputed with the most frequent value: Yes
Missing values in 'ICorPM' have been imputed with the most frequent value: Individual contributor
Missing values in 'Knowledge_1' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_2' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_3' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_4' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_5' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_6' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_7' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_8' have been imputed with the most frequent value: Agree
Missing values in 'Knowledge_9' have been imputed with the most frequent value: Agree
Missing values in 'Frequency_1' have been imputed with the most frequent value: 1-2 times a week
Missing values in 'Frequency_2' have been imputed with the most frequent value: 1-2 times a week
Missing values in 'Frequency_3' have been imputed with the most frequent value: 1-2 times a week
Missing values in 'TimeSearching' have been imputed with the most frequent value: 30-60 minutes a day
Missing values in 'TimeAnswering' have been imputed with the most frequent value: 15-30 minutes a day
Missing values in 'Frustration' have been imputed with the most frequent value: None of these
Missing values in 'ProfessionalTech' have been imputed with the most frequent value: None of these
Missing values in 'ProfessionalCloud' have been imputed with the most frequent value: Hybrid (on-prem and cloud)
Missing values in 'ProfessionalQuestion' have been imputed with the most frequent value: Traditional public search engine
Missing values in 'Industry' have been imputed with the most frequent value: Software Development
Missing values in 'SurveyLength' have been imputed with the most frequent value: Appropriate in length
Missing values in 'SurveyEase' have been imputed with the most frequent value: Easy

### 6. Feature Scaling and Transformation
<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [12]:
from sklearn.preprocessing import MinMaxScaler

# Check if 'ConvertedCompYearly' exists
if 'ConvertedCompYearly' in df.columns:
    scaler = MinMaxScaler()  # Initialize Min-Max Scaler

    # Reshape the data since MinMaxScaler expects a 2D array
    df['ConvertedCompYearly_MinMax'] = scaler.fit_transform(df[['ConvertedCompYearly']])

    print("Min-Max Scaling applied to 'ConvertedCompYearly'.")
else:
    print("'ConvertedCompYearly' column not found.")

Min-Max Scaling applied to 'ConvertedCompYearly'.

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [ ]:
import numpy as np

# Check if 'ConvertedCompYearly' exists
if 'ConvertedCompYearly' in df.columns:
    # Apply log transformation (adding 1 to avoid log(0) errors)
    df['ConvertedCompYearly_Log'] = np.log1p(df['ConvertedCompYearly'])

    print("Log transformation applied to 'ConvertedCompYearly'.")
else:
    print("'ConvertedCompYearly' column not found.")

### 7. Feature Engineering
<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [13]:
# Check if 'YearsCodePro' exists in the dataset
if 'YearsCodePro' in df.columns:
    # Define function to categorize experience level
    def categorize_experience(years):
        if years < 2:
            return 'Entry'
        elif 2 <= years < 5:
            return 'Mid'
        elif 5 <= years < 10:
            return 'Senior'
        else:
            return 'Expert'

    # Apply the function to the 'YearsCodePro' column to create the new 'ExperienceLevel' column
    df['ExperienceLevel'] = df['YearsCodePro'].apply(categorize_experience)

    print("ExperienceLevel column created based on 'YearsCodePro'.")
else:
    print("'YearsCodePro' column not found.")

TypeError: '<' not supported between instances of 'str' and 'int'