<a href="https://colab.research.google.com/github/ElhassanGitUub/PyProj/blob/main/Removing_Duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  **Lab 7: Removing Duplicates**

**Introduction**
In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

**Objectives**
In this lab you will perform the following:

1-Identify duplicate rows in the dataset.
2-Use suitable techniques to remove duplicate rows and verify the removal.
3-Summarize how to handle missing values appropriately.
Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

### Step 1: Import Required Libraries

In [1]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

In [2]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Step 3: Identifying Duplicate Rows**

Task 1: Identify Duplicate Rows

Count the number of duplicate rows in the dataset.
Display the first few duplicate rows to understand their structure.

In [3]:
# Count duplicate rows
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Extract duplicate rows (keeping all occurrences)
duplicates = df[df.duplicated(keep=False)]

# Display the first few duplicate rows
print("First few duplicate rows:")
print(duplicates.head())

Number of duplicate rows: 0
First few duplicate rows:
Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

**Step 4: Removing Duplicate Rows**
Task 2: Remove Duplicates

Remove duplicate rows from the dataset using the drop_duplicates() function.
Verify the removal by counting the number of duplicate rows after removal .

In [4]:
# Count duplicate rows before removal
initial_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows before removal: {initial_duplicates}")

# Remove duplicate rows (keeping the first occurrence)
df_cleaned = df.drop_duplicates()

# Count duplicate rows after removal
remaining_duplicates = df_cleaned.duplicated().sum()
print(f"Number of duplicate rows after removal: {remaining_duplicates}")

Number of duplicate rows before removal: 0
Number of duplicate rows after removal: 0

**Expected Outcome**
Number of duplicate rows before removal
Number of duplicate rows after removal (should be 0)
Comparison of dataset shape before and after cleaning

**Step 5: Handling Missing Values**

Task 3: Identify and Handle Missing Values

Identify missing values for all columns in the dataset.
Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [5]:
# Identify missing values in each column
missing_values = df.isnull().sum()
print("Missing Values Per Column:\n", missing_values)

# Select a column with significant missing values (e.g., 'EdLevel')
column_to_impute = "EdLevel"

# Check the most frequent value in the selected column
most_frequent_value = df[column_to_impute].mode()[0]
print(f"Most frequent value in '{column_to_impute}': {most_frequent_value}")

Missing Values Per Column:
 ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64
Most frequent value in 'EdLevel': Bachelor’s degree (B.A., B.S., B.Eng., etc.)

**What This Code Does**
Identifies missing values for each column.
Selects a column with significant missing values (EdLevel).
Finds the most frequent value in that column.
Fills missing values with the most frequent value.
Verifies that missing values are handled.

**Step 6: Normalizing Compensation Data**

Task 4: Normalize Compensation Data Using ConvertedCompYearly

Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
Check for missing values in ConvertedCompYearly and handle them if necessary.

In [6]:
# Check for missing values in ConvertedCompYearly
missing_comp = df["ConvertedCompYearly"].isnull().sum()
print(f"Missing values in ConvertedCompYearly: {missing_comp}")

# Handle missing values - Fill with median compensation
median_comp = df["ConvertedCompYearly"].median()
df["ConvertedCompYearly"].fillna(median_comp, inplace=True)

# Verify missing values after imputation
remaining_missing = df["ConvertedCompYearly"].isnull().sum()
print(f"Missing values in ConvertedCompYearly after imputation: {remaining_missing}")

# Summary statistics of normalized compensation
print("\nSummary Statistics of ConvertedCompYearly:")
print(df["ConvertedCompYearly"].describe())

# Save cleaned dataset (optional)
df.to_csv("cleaned_survey_data.csv", index=False)

print("Compensation normalization complete. Cleaned dataset saved.")

Missing values in ConvertedCompYearly: 42002
Missing values in ConvertedCompYearly after imputation: 0

Summary Statistics of ConvertedCompYearly:
count    6.543700e+04
mean     7.257636e+04
std      1.122207e+05
min      1.000000e+00
25%      6.500000e+04
50%      6.500000e+04
75%      6.500000e+04
max      1.625660e+07
Name: ConvertedCompYearly, dtype: float64

<ipython-input-6-b1da4108d1d2>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ConvertedCompYearly"].fillna(median_comp, inplace=True)

Compensation normalization complete. Cleaned dataset saved.

**What This Code Does**
Checks for missing values in ConvertedCompYearly.
Handles missing values by filling them with the median compensation (to avoid skewing from extreme values).
Verifies that missing values are handled correctly.
Displays summary statistics for further analysis.